.container .row form{
  	position: unset;	
  	padding: 8px;
}

.btn-secondary { margin-top: 4px; }
.btn-secondary:hover { color: #b9d714; }
section { margin-top: 5px; }
.container a { color: #000; text-decoration: none; border-bottom: 1px dotted #999;}
.container a:hover { border-bottom-style: solid; color: #8CBF48; }
.icon {height: 4.5rem; width: 4rem; padding-bottom: 10px;}
.myNav a {
			margin-left: 10px;
			margin-right: 10px;
		}

		/*navbar hover*/

		.nav-item::after {
     		content: '';
     		display: block;
     		width: 0px;
     		height: 2px;
     		background: #b9d714;
     		transition: 0.4s
 		}

 		.nav-item:hover::after {
     		width: 100%
 		}

 		.navbar-dark .navbar-nav .active>.nav-link,
 		.navbar-dark .navbar-nav .nav-link.active,
 		.navbar-dark .navbar-nav .nav-link.show,
 		.navbar-dark .navbar-nav .show>.nav-link,
 		.navbar-dark .navbar-nav .nav-link:focus,
 		.navbar-dark .navbar-nav .nav-link:hover {
     		color: #b9d714
 		}

 		.nav-link {
     		padding: 20px 5px;
     		transition: 0.2s
 		}